:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}
.hero {
  position: relative;
}
.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}
.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
}
/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}
.divider {
  border-bottom: 2px solid var(--primary-color);
}
.product-list img{
  width: 100PX;
}
/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
}
.cart:hover svg {
  fill: gray;
}

.cart .superscript-number{
  position: absolute;
  top: 0;
  left: 70%;
  background: orange;
  padding: 6px;
  border-radius: 50%;
}
.cart-card{
  position: relative;
}
.cart-card .cart-card__del-btn{
  font-size: 35px;
  width: fit-content;
  margin: auto;
}
/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
.products {
  padding: 0.5em;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}
/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}
.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}
/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}
.cart-card p {
  margin-top: 0;
}
.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 2;
  grid-column: 3;
}

#color-price{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-row: 2/3;
  grid-column: 2/3; 
  margin:0;
}
#color-price p{ 
  margin:0;
}
#color-price p{
  font-size: 20px;

}
.itemQuantity{
  grid-row: 2;
  grid-column: 3/4;
  display: flex;
  align-items: center; 
  padding: 0 10px 10px 10px;
  width: fit-content;
  margin: auto; 
}
.itemQuantity .minus, .itemQuantity .plus{
  background-color: var(--secondary-color);
  font-size: var(--large-font);
  padding: 7px;
  margin: 0;
  color: white;
}
.itemQuantity .minus, .itemQuantity .plus:hover{
  cursor: pointer;
}
.itemQuantity .num{
  font-size: var(--large-font);
  padding: 7px;
  width: 40px;
  border: 2px solid var(--secondary-color);
}
 /* Hide the spinner controls */
.num::-webkit-inner-spin-button,
.num::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.num {
    -moz-appearance: textfield; /* Firefox */
}
/* ------------- Newsletter ------------- */

#Newsletter{
  background-color: var(--light-grey);
  font-family: var(--font-body);
  font-size: var(--large-font);
  margin-bottom: 10px;
  padding: 20px;
}

#Newsletter input{
  width: 100%;
  height: 50px;
  border: 3px solid var(--secondary-color);
  margin: 0;
  font-size:medium;
}

#Newsletter button{
  width: 95%;
  height: 50px;
  margin: 0;
  padding: 5px;
}
#Newsletter p{
  margin: 0;
}
#inputNews p{
  font-size: 100px;
  border-radius: 50%;
  text-align: center;
  border: 20px dotted;
  margin: auto;
  padding: 20px;
}


@media screen and (min-width: 750px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
  #Newsletter{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }
  #Newsletter #inputNews{
    display: flex;
    align-items:flex-end;
  }
  #Newsletter #inputNews label, #inputNews  button{
    width: 50%;
    margin: 0;
  }
  #Newsletter label{
    padding-left: 15px;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}

.discount {
  background-color: yellow;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  float: right;
}
